/**
 * Filename: style.css
 * Author: Brian Soe, Angela Pate, Thomas Chang
 * Description: Main CSS
 */

body
{
  font-family: 'Raleway', Helvetica, Arial;
  background: url("../img/background.jpg") no-repeat center center fixed;
}

h3
{
  color: #00508F;
}

*
{
  margin: 0 auto;
}

/* Logo */
#logo
{
  left: 40px;
  height: 70px;
  width: 230px;
  position: fixed;
  top: 40px;
}

#logo a img
{
  width: 250px;
}

/* Navigation */
#nav
{
  left: 0;
  list-style: none;
  position: fixed;
  top: 135px;
  float: left;
}

#nav li
{
  margin-bottom: 0px;
  list-style: none; 
}

#nav a
{
  background-color: #F0F0F0;
  color: #0F0F0F;
  display: block;
  font-size: 11px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 225px;
  border-left: 5px solid #00508F;
  letter-spacing: 1px;
}

#nav a:hover
{
  background-color: #00508F;
  color: #F0F0F0;
}

#navheader
{
  display: block;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 225px;
  letter-spacing: 1px;
  background-color: #0F0F0F;
  border-left: 5px solid #0F0F0F;
  color: #F0F0F0;
}

#navheader a:hover
{
  background-color: #0F0F0F;
  border-left: 5px solid #0F0F0F;
  color: #F0F0F0;
}

#nav .current a
{
  background-color: #00508F;
  color: #F0F0F0; 
}

/* Content */
#container
{
  margin-left: 150px;
  width: 100%;
  background-color: #F0F0F0;
  /*border-left: 1px solid gray;
  border-right: 1px solid gray;*/
}

.section
{
  border-bottom: 2px solid #D0D0D0;
  padding: 50px;
}

.section p:last-child
{
  margin-bottom: 0;
}

.section a
{
  text-decoration: none;
  color: #00508F;
}

.section a:hover
{
  text-decoration: underline;
  color: #F00000;
}

#page
{
  width: 900px;
  height: 100%;
  text-align: left;
  border: 0px;
  padding: 0;
  margin: 0 auto;
}

blockquote{
  color:#282828;
  font-size:14px;
  font-style: italic;
  width: 600px;
  margin: 0 auto;
  padding:20px;
  border: 1px solid #3F3F3F;
  background-color: #FFFFFF;
}
blockquote cite{
  display: block;
  margin-left: 425px;
}

/* others */

.screenshot
{
  margin: 0 auto;
  float: left;
  padding-right: 20px;
  overflow: hidden;
}

.screenshot img
{
  width: 250px;
  border-radius: 10px;
  border: 1px solid black;
}